blockquote {
    border-left: .25em solid #2980b9;
    padding: 0 1em;
    margin-left: 1em;
}

h5 {
    margin-block-start: 2.5em;
    margin-block-end: 0.5em;
}

.title{
    font-size: 1em;
    font-weight: normal;
}

.title_accent{
    font-size: 1.5em;
    color: #2980b9;
}

.desc{
    box-shadow: 2px 2px 5px #00000054;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0px !important;
}

.desc p {
    margin-botton:0px;
}

code {
    font-size: 1em;
}

hr {
    border-top: 1px solid #000000;
}

code_accent{
    border-left:3px solid;
}
